In [50]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats
import pylab as py
import statsmodels.api as sm
import statsmodels.stats as sm_stats
import statsmodels.stats.api as sms
import math
from datetime import datetime, date
from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin
from sklearn.impute import KNNImputer
from sklearn import preprocessing
from sklearn.preprocessing import power_transform
from sklearn.preprocessing import PowerTransformer

In [156]:
# read labor and profiles dataset
df_labor = pd.read_csv('../../data/labor.csv', sep='\t')
df_profiles = pd.read_csv('../../data/profiles.csv', sep='\t')

Tieto nemajú korelácie takže som mapoval podľa mean a median.

In [3]:
def meanNinja(column):
    df_labor[column] = df_labor[column].fillna(df_labor[column].mean())
    
def medianNinja(column):
    df_labor[column] = df_labor[column].fillna(df_labor[column].median())
    
def controlNinja(column):
    print(df_labor[column].loc[df_labor[column].isna(),])
    print(sum(df_labor[column].isna()))
    
def knnNinja(column):
    imputer = KNNImputer(n_neighbors=5)
    copy = df_labor[column].values.reshape(-1,1)
    imputer.fit(copy)
    Xtrans = imputer.transform(copy)
    df_labor[column] = pd.DataFrame(Xtrans)
    
def regressionNinja(column):
    df_labor[column].interpolate(method='linear', inplace=True)

def ratioNinja(columnToFill, corrColumn):
    ratio = df_labor[corrColumn]/df_labor[columnToFill]
    df_labor[columnToFill] = df_labor[columnToFill].fillna(df_labor[corrColumn] * ratio.mean())

Hemoglobin

In [4]:
meanNinja("hemoglobin")
controlNinja("hemoglobin")

Series([], Name: hemoglobin, dtype: float64)
0

Tromobocyty

In [5]:
meanNinja("trombocyty")
controlNinja("trombocyty")

Series([], Name: trombocyty, dtype: float64)
0

Er-cv

In [6]:
medianNinja("er-cv")
controlNinja("er-cv")

Series([], Name: er-cv, dtype: float64)
0

In [7]:
medianNinja("hematokrit")
controlNinja("hematokrit")

Series([], Name: hematokrit, dtype: float64)
0

ast

In [8]:
knnNinja("ast")
controlNinja("ast")

Series([], Name: ast, dtype: float64)
0

alp

In [9]:
knnNinja("alp")
controlNinja("alp")

Series([], Name: alp, dtype: float64)
0

In [10]:
regressionNinja("etytr")
controlNinja("etytr")

Series([], Name: etytr, dtype: float64)
0

In [11]:
regressionNinja("alt")
controlNinja("alt")

Series([], Name: alt, dtype: float64)
0

Leukocyty korelujú s etytr

In [12]:
ratioNinja("leukocyty","etytr")
controlNinja("leukocyty")

Series([], Name: leukocyty, dtype: float64)
0

In [13]:
ratioNinja("erytrocyty","alt")
controlNinja("erytrocyty")

Series([], Name: erytrocyty, dtype: float64)
0

In [14]:
ratioNinja("hbver","erytrocyty")
controlNinja("hbver")

Series([], Name: hbver, dtype: float64)
0

In [15]:
def scalingNinja(df_toScale):   
    min_max_scaler = preprocessing.MinMaxScaler(feature_range =(0, 1))
    scaled_dataframe = min_max_scaler.fit_transform(df_toScale.values.reshape(-1,1))
    return scaled_dataframe

def standardisatingNinja(df_toScale):
    Standardisation = preprocessing.StandardScaler()
    scaled_dataframe = Standardisation.fit_transform(df_toScale.values.reshape(-1,1))
    return scaled_dataframe

def powerTransform(df_toTransform):
    return power_transform(df_toTransform.values.reshape(-1,1))

In [16]:
df_labor["ast"] = scalingNinja(df_labor["ast"])
df_labor["ast"].head()

0    0.618501
1    0.669072
2    0.653309
3    0.673371
4    0.674875
Name: ast, dtype: float64

In [17]:
df_labor["alp"] = standardisatingNinja(df_labor["alp"])
df_labor["alp"].head()

0    0.497458
1    0.983211
2    0.153915
3   -1.925259
4    0.946127
Name: alp, dtype: float64

In [18]:
df_labor["alt"] = powerTransform(df_labor["alt"])
df_labor["alt"].head()

0    0.675003
1   -0.897033
2   -0.938073
3   -0.841692
4   -0.173226
Name: alt, dtype: float64

In [19]:
df_labor.head()

,Unnamed: 0,hemoglobin,leukocyty,etytr,weight,trombocyty,ast,alp,relationship,name,alt,hbver,smoker,erytrocyty,er-cv,indicator,ssn,hematokrit
0,0,6.77299,5.28153,4.79087,104.22450,7.22472,0.618501,0.497458,married,Kathryn Wagner,0.675003,9.04461,no,7.94417,61.31451,0.0,887-91-9698,5.40103
1,1,6.35217,5.45245,3.34754,65.03608,7.00407,0.669072,0.983211,widowed,Frank Becker,-0.897033,9.09262,no,5.33302,58.00624,0.0,506-37-0250,7.68167
2,2,5.37162,7.36106,7.10989,63.61518,6.95232,0.653309,0.153915,married,Stephanie Lewis,-0.938073,6.18215,no,6.38771,62.73102,1.0,331-52-1241,6.27422
3,3,4.60987,8.04010,4.97779,30.35294,6.63243,0.673371,-1.925259,married,Luis Williams,-0.841692,5.22920,no,5.05640,62.60592,1.0,407-22-7513,6.61263
4,4,5.97408,6.66899,5.58872,97.97181,6.18242,0.674875,0.946127,divoced,Donald Hall,-0.173226,4.97805,yes,5.10205,59.32470,1.0,486-30-7935,6.23117

In [123]:
class PowerTransform(TransformerMixin):
    """
    A tranformer for normalising columns via power transformation.
    """
    
    def __init__(self, data, method, *args):
        """
        Initialize method.

        :param data: The dataset is instance of pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        """
        self.data = data
        self.cols = list(args)
        #for col in kwargs.values():
        #    self.cols.append(col)
        
    def fit(self, X, y=None):
        """
        Fits transformer over data.

        :param X: The dataset to pass to the transformer.
        :returns: The transformer.
        """
        return self
    
    def transform(self, X, **transform_params):
        """
        Function to delete columns specified in *args to be deleted from data.

        :param data: pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        :returns: pandas.core.frame.DataFrame without columns specified in *args
        :raises keyError: raises an exception in case column was not found
        """
        try:
            for col in self.cols:
                 X[col] = powerTransform(X[col])
                 #X[: , col] = power_transform(X[: , col].values.reshape(-1,1))
            return X
        except KeyError:
            print(f'Something from {self.cols} not found in dataset!')

In [124]:
class ScalingTransform(TransformerMixin):
    """
    A tranformer for normalising columns via power transformation.
    """
    
    def __init__(self, data, method, *args):
        """
        Initialize method.

        :param data: The dataset is instance of pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        """
        self.data = data
        self.cols = list(args)
        self.method = method
        #for col in kwargs.values():
        #    self.cols.append(col)
        
    def fit(self, X, y=None):
        """
        Fits transformer over data.

        :param X: The dataset to pass to the transformer.
        :returns: The transformer.
        """
        return self
    
    def transform(self, X, **transform_params):
        """
        Function to delete columns specified in *args to be deleted from data.

        :param data: pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        :returns: pandas.core.frame.DataFrame without columns specified in *args
        :raises keyError: raises an exception in case column was not found
        """
        try:
            if self.method == "Scaling":
                for col in self.cols:
                    X[col] = scalingNinja(X[col])
                     #X[: , col] = power_transform(X[: , col].values.reshape(-1,1))
                return X
            if self.method == "Standard":
                for col in self.cols:
                    X[col] = standardisatingNinja(X[col])
                     #X[: , col] = power_transform(X[: , col].values.reshape(-1,1))
                return X
        except KeyError:
            print(f'Something from {self.cols} not found in dataset!')

In [136]:
class FillingTransform(TransformerMixin):
    """
    A tranformer for normalising columns via power transformation.
    """
    
    def __init__(self, data, method, *args):
        """
        Initialize method.

        :param data: The dataset is instance of pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        """
        self.data = data
        self.cols = list(args)
        self.method = method
        #for col in kwargs.values():
        #    self.cols.append(col)
        
    def fit(self, X, y=None):
        """
        Fits transformer over data.

        :param X: The dataset to pass to the transformer.
        :returns: The transformer.
        """
        return self
    
    def transform(self, X, **transform_params):
        """
        Function to delete columns specified in *args to be deleted from data.

        :param data: pandas.core.frame.DataFrame
        :param *args: tuple of *str, specifing cols to be dropped
        :returns: pandas.core.frame.DataFrame without columns specified in *args
        :raises keyError: raises an exception in case column was not found
        """
        try:
            if self.method == "mean":
                for col in self.cols:
                    X[col] = X[col].fillna(X[col].mean())
                return X
            if self.method == "median":
                for col in self.cols:
                    X[col] = X[col].fillna(X[col].median())
                return X
            if self.method == "knn":
                for col in self.cols:
                    imputer = KNNImputer(n_neighbors=5)
                    imputer.fit(X[col].values.reshape(-1,1))
                    Xtrans = imputer.transform(X[col].values.reshape(-1,1))
                    X[col] = pd.DataFrame(Xtrans)
                return X
            if self.method == "regression":
                for col in self.cols:
                    X[col] = X[col].interpolate(method='linear')
                return X
            
            
        except KeyError:
            print(f'Something from {self.cols} not found in dataset!')

In [157]:
class RatioFillingTransformer(TransformerMixin):
    """
    A tranformer for getting numerical values from the dataset.
    """
    
    def __init__(self,  data, colToFill, corrCol, *args):
        """
        Initialize method.

        :param data: The dataset is instance of pandas.core.frame.DataFrame
        :param col: col to be transformed
        :param what: dictionary, transform based on this
        :param category: change type based on this
        :param *args: -
        """
        self.data = data
        self.colToFill = colToFill
        self.corrCol = corrCol
        
    def fit(self, X, y=None):
        """
        Fits transformer over data.

        :param X: The dataset to pass to the transformer.
        :returns: The transformer.
        """
        return self
    
    def transform(self, X, **transform_params):
        """
        Function to transform column to a numeric and change a type.

        :param X: pandas.core.frame.DataFrame
        :returns: transformed pandas.core.frame.DataFrame
        :raises keyError: raises an exception in case column was not found
        """
        try:
            ratio = X[self.colToFill]/X[self.corrCol]
            X[self.colToFill] = X[self.colToFill].fillna(X[self.corrCol] * ratio.mean())
            return X
        except KeyError:
            print(f'Something from {self.what} not found in dataset!')

In [158]:
pipeline1 =  Pipeline([
    ('Transformer_mean',FillingTransform(df_labor, "mean", "hemoglobin", "trombocyty")),
    ('Transformer_median',FillingTransform(df_labor,"median", "er-cv", "hematokrit")),
    ('Transformer_knn',FillingTransform(df_labor,"knn", "ast", "alp")),
    ('Transformer_regression',FillingTransform(df_labor,"regression", "etytr", "alt")),
    ('Transformer_ratio',RatioFillingTransformer(df_labor, "leukocyty","etytr")),
    ('Transformer_ratio2',RatioFillingTransformer(df_labor, "erytrocyty","alt")),
    ('Transformer_ratio3',RatioFillingTransformer(df_labor, "hbver","erytrocyty")),
    ('Transformer_yeo', PowerTransform(df_labor, 'yeo-johnson', 'alt')),
    ('Transformer_scal', ScalingTransform(df_labor, "Scaling", 'ast')),
    ('Transformer_stand', ScalingTransform(df_labor, "Standard", 'alp'))
])

df_labor = pipeline1.transform(df_labor)
df_labor

,Unnamed: 0,hemoglobin,leukocyty,etytr,weight,trombocyty,ast,alp,relationship,name,alt,hbver,smoker,erytrocyty,er-cv,indicator,ssn,hematokrit
0,0,6.77299,5.28153,4.79087,104.22450,7.22472,0.618501,0.497458,married,Kathryn Wagner,0.675003,9.04461,no,7.94417,61.31451,0.0,887-91-9698,5.40103
1,1,6.35217,5.45245,3.34754,65.03608,7.00407,0.669072,0.983211,widowed,Frank Becker,-0.897033,9.09262,no,5.33302,58.00624,0.0,506-37-0250,7.68167
2,2,5.37162,7.36106,7.10989,63.61518,6.95232,0.653309,0.153915,married,Stephanie Lewis,-0.938073,6.18215,no,6.38771,62.73102,1.0,331-52-1241,6.27422
3,3,4.60987,8.04010,4.97779,30.35294,6.63243,0.673371,-1.925259,married,Luis Williams,-0.841692,5.22920,no,5.05640,62.60592,1.0,407-22-7513,6.61263
4,4,5.97408,6.66899,5.58872,97.97181,6.18242,0.674875,0.946127,divoced,Donald Hall,-0.173226,4.97805,yes,5.10205,59.32470,1.0,486-30-7935,6.23117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10030,10030,5.52171,7.37800,7.04815,83.93728,7.29506,0.749130,0.141428,single,Gary Parks,1.805324,9.31528,N,9.21009,40.17639,1.0,028-45-3066,6.95568
10031,10031,5.72390,8.34137,5.88201,78.01508,6.43991,0.626101,0.571790,divoced,Michael Haynes,-1.569421,5.58052,Y,5.01783,22.59664,1.0,041-77-3799,6.69757
10032,10032,7.12205,5.31366,4.84312,78.80204,7.76331,0.787191,0.201474,married,Donald Porter,0.909948,8.82716,Y,7.88062,65.02538,0.0,227-65-3699,5.46733
10033,10033,5.39175,5.72726,4.45572,15.18502,5.97680,0.633170,-0.021319,single,Cassandra Williams,0.220693,7.63298,no,6.81522,64.56211,0.0,669-16-6262,6.82568
10034,10034,7.11616,6.86954,6.25132,53.84799,5.55897,0.635216,0.263090,married,Jessica Diaz,0.346001,7.17967,N,7.49288,70.23548,1.0,524-42-2099,7.11213

In [159]:
df_labor.isna().sum()

Unnamed: 0      0
hemoglobin      0
leukocyty       0
etytr           0
weight          0
trombocyty      0
ast             0
alp             0
relationship    0
name            0
alt             0
hbver           0
smoker          0
erytrocyty      0
er-cv           0
indicator       0
ssn             0
hematokrit      0
dtype: int64